.canvas-container {
  display: grid;
  grid-template-columns: repeat(100, 10px); 
  grid-template-rows: repeat(100, 10px); 
  border: black solid 1px;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.cell {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: rgb(238, 236, 236) solid 0.1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media (max-width: 950px) {
  .canvas-container {
    grid-template-columns: repeat(100, 8.5px); /* Reduced grid columns on smaller screens */
    grid-template-rows: repeat(100, 8.5px);    /* Reduced grid rows */
    background-color: #45a049;
  }
  .cell {
    width: 8.5px; /* Reduced cell size */
    height: 8.5px;
  }
}

@media (max-width: 850px) {
  .canvas-container {
    grid-template-columns: repeat(100, 7.5px); /* Further reduce grid on very small screens */
    grid-template-rows: repeat(100, 7.5px);
    background-color: aqua;
  }
  .cell {
    width: 7.5px; /* Further reduce cell size */
    height: 7.5px;
  }
}
div[style] {
  border: 0;
}
@media (max-width: 750px) {
  .canvas-container {
    grid-template-columns: repeat(100, 6.5px); /* Further reduce grid on very small screens */
    grid-template-rows: repeat(100, 6.5px);
    background-color: blue;
  }
  .cell {
    width: 6.5px; /* Further reduce cell size */
    height: 6.5px;
  }
}

@media (max-width: 650px) {
  .canvas-container {
    grid-template-columns: repeat(100, 4.5px); /* Further reduce grid on very small screens */
    grid-template-rows: repeat(100, 4.5px);
    background-color: rgb(251, 255, 12);
  }
  .cell {
    width: 4.5px; /* Further reduce cell size */
    height: 4.5px;
  }
}



.cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

  .upload-button {
    display: inline-block;
    padding: 2px 20px;
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .upload-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .upload-button:active {
    transform: scale(0.95); /* Button press effect */
  }
  
  .hidden {
    display: none; /* Hide the file input */
  }
  